{% extends "layout.twig" %}

{% block content %}
    <h1>Add Project</h1>

    <form action="/projects/add" method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" class="form-control" placeholder="Ingrese un titulo para el proyecto">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" id="description" cols="20" rows="5" class="form-control" placeholder="Ingrese una descripción detallada del proyecto elaborado"></textarea>
        </div>
        <div class="form-group">
            <label for="technologies">Tecnologies</label>
            <input type="text" name="technologies" class="form-control" placeholder="Ingrese las tecnologías aplicadas (separar por comas)">
        </div>
        <input type="submit" name="enviar" value="Enviar Registro" class="btn btn-primary">
    </form>
{% endblock %}